<header ng-switch on="$location.path().indexOf('/Celebrities/new') > -1">
    <h3 ng-switch-when="true">Create a new Celebrity</h3>
    <h3 ng-switch-when="false">View or edit Celebrity</h3>
</header>
<form id="CelebrityForm" name="CelebrityForm" class="form-horizontal" role="form">

    <div class="form-group" ng-class="{'has-error': CelebrityForm.firstname.$invalid}">
        <label for="firstname" class="col-sm-2 control-label">First name</label>
        <div id="firstnameControls" class="col-sm-10">
            <input id="firstname" name="firstname" type="text" required class="form-control" ng-model="celebrity.firstname" placeholder="Enter the Celebrity First name"></input>
            <span class="help-block error" ng-show="CelebrityForm.firstname.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CelebrityForm.lastname.$invalid}">
        <label for="lastname" class="col-sm-2 control-label">Last name</label>
        <div id="lastnameControls" class="col-sm-10">
            <input id="lastname" name="lastname" type="text" required class="form-control" ng-model="celebrity.lastname" placeholder="Enter the Celebrity Last name"></input>
            <span class="help-block error" ng-show="CelebrityForm.lastname.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CelebrityForm.imageUrl.$invalid}">
        <label for="imageUrl" class="col-sm-2 control-label">Image URL</label>
        <div id="imageUrlControls" class="col-sm-10">
            <a class="img-responsive" href="{{celebrity.imageUrl}}">
                <img class="img-responsive" src="{{celebrity.imageUrl}}"/>
            </a>
            <input id="imageUrl" name="imageUrl" type="text" class="form-control" ng-model="celebrity.imageUrl"
                   placeholder="Enter the Celebrity Image URL"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CelebrityForm.bio.$invalid}">
        <label for="bio" class="col-sm-2 control-label">Bio</label>
        <div id="bioControls" class="col-sm-10">
            <textarea id="bio" name="bio" type="text" ng-maxlength="2000" class="form-control" ng-model="celebrity.bio" placeholder="Enter the Celebrity Bio"></textarea>
            <span class="help-block error" ng-show="CelebrityForm.bio.$error.maxlength">You have written too many words, only 2000 characters allowed</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CelebrityForm.rating.$invalid}">
        <label for="rating" class="col-sm-2 control-label">Rating</label>
        <div id="ratingControls" class="col-sm-10">
            <div class="form-check form-check-inline">
                <span ng-repeat="i in getNumber(number) track by $index" >
                <input  class="form-check-input" type="radio" id="inlineRadio{{$index + 1}}" value="{{$index + 1}}" ng-model="celebrity.rating">
                <label class="form-check-label" for="inlineRadio{{$index + 1}}">{{$index + 1}}</label>
                </span>
            </div>
            <span class="help-block error" ng-show="CelebrityForm.rating.$error.number">not a number</span>
            <span class="help-block error" ng-show="CelebrityForm.rating.$error.min">minimum allowed is 1</span>
            <span class="help-block error" ng-show="CelebrityForm.rating.$error.max">maximum allowed is 10</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveCelebrity" name="saveCelebrity" class="btn btn-primary" ng-disabled="isClean() || CelebrityForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteCelebrity" name="deleteCelebrity" class="btn btn-danger" ng-show="celebrity.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>